# Data Cleaning

## Project: E-commerce Product Delivery Prediction

- we perform initial data understanding and data cleaning.
- The objective is to explore the raw dataset, identify data quality issues, and create a cleaned dataset.
- that will be used for further preprocessing, EDA, and model development.

In [4]:
%pip install matplotlib seaborn

# Data manipulation libraries
import pandas as pd
import numpy as np

# Visualization libraries (used later if required)
import matplotlib.pyplot as plt
import seaborn as sns

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: matplotlib in d:\e-commerce product prediction\venv\lib\site-packages (3.10.8)
Requirement already satisfied: seaborn in d:\e-commerce product prediction\venv\lib\site-packages (0.13.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (1.4.9)
Requirement already satisfied: numpy>=1.23 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (2.4.1)
Requirement already satisfied: packaging>=20.0 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (25.0)
Requirement already satisfied: pillow>=8 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (12.1.0)
Requirement already satisfied: pyparsing>=3 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (3.3.1)
Requirement already satisfied: python-dateutil>=2.7 in d:\e-commerce product prediction\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in d:\e-commerce product prediction\venv\lib\site-packages (from seaborn) (2.3.3)
Requirement already satisfied: pytz>=2020.1 in d:\e-commerce product prediction\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in d:\e-commerce product prediction\venv\lib\site-packages (from pandas>=1.2->seaborn) (2025.3)
Requirement already satisfied: six>=1.5 in d:\e-commerce product prediction\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

# Load Dataset

In [5]:
# Loading data
E_commerce = pd.read_csv(r'D:\E-Commerce Product Prediction\E-Commerce_product\data\E_Commerce.csv')
E_commerce.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

# Data Backup

In [6]:
e_commerce_cleaned = E_commerce
e_commerce_cleaned.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

## Dataset and Structure

- Number of rows and columns
- Data types of features
- Presence of missing values

In [7]:
# Dataset structure
e_commerce_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10999 entries, 0 to 10998
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
 11  Reached.on.Time_Y.N  10999 non-null  int64
dtypes: int64(8), object(4)
memory usage: 1.0+ MB

In [8]:
## Check the number of missing values in each column. 
e_commerce_cleaned.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
Reached.on.Time_Y.N    0
dtype: int64

In [9]:
# Check the number of duplicate values in each column.
e_commerce_cleaned.duplicated().sum()

np.int64(0)

## Statistical Summary

- Outliers
- Unexpected minimum or maximum values
- Data distribution patterns

In [10]:
# Summary
e_commerce_cleaned.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000

## Target Variable Analysis

Check the distribution of the target variable to confirm:
- Classification type (Binary)
- Class imbalance

In [11]:
# Target veriable
e_commerce_cleaned['Reached.on.Time_Y.N'].value_counts()

Reached.on.Time_Y.N
1    6563
0    4436
Name: count, dtype: int64

In [13]:
# Exporting cleaned data
e_commerce_cleaned.to_csv(r'D:\E-Commerce Product Prediction\E-Commerce_product\e_commerce_cleaned.csv', index=False)